<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include "fragments/import.html" %}
        
        <title>Creatia - {{ PageName }}</title>
    </head>
    <header>
        {% include "fragments/message.html" %}
    </header>
    <body class="bg-gray-100 dark:bg-gray-800 text-black dark:text-white">
        <div class="flex flex-col justify-center items-center h-screen">
            <div class="text-5xl">
                <h1 class="text-center">Bienvenue sur le site de Creatia</h1>
            </div>
            <div class="text-2xl">
                <p class="text-center">Sur ce site, vous aurez accès à des stats et pour les admins à des fonctionnalitées.</p>
                <div class="flex flex-row justify-center items-center">
                    <a href="/stats" class="m-5 px-2 py-1 bg-gray-300 dark:bg-gray-700 rounded-md">Voir les stats</a>
                    <a href="/mj" class="m-5 px-2 py-1 bg-gray-300 dark:bg-gray-700 rounded-md">Se connecter en tant que MJ</a>
                </div>
            </div>
        </div>
    </body>
    <footer>
        {% include "fragments/footer.html" %}
    </footer>
</html>